.one-ingredient {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ingredient-name {
    padding-left: 20px;
}

.button-submit {
    text-decoration: none;
    color: black;
    text-align: center;
    margin: 20px 20px;
}