body {
    background-color: rgba(0, 0, 0, 0.07);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: grid;
    grid-template-columns: 1.5fr 7fr 1.5fr;
    grid-template-rows: 1fr 1fr 2fr;
    padding-top: 50px;
    align-items: center;
    justify-content: center;

    font-family: Roboto, serif;
}

/********************************************************
                    THE HEADER
********************************************************/
header {
    background-color: darkcyan;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    position: fixed;
    top:0;
    left: 0;
    right: 0;
    height: 50px;

    box-shadow: 8px 0 10px rgba(0, 0, 0, 0.3);
}

/********************************
            HEADER LEFT
********************************/

.our-page-button {
    background-color: transparent;
    text-decoration: none;

    height: 100%;
    padding: 0;

    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.our-page-logo {
    height: 40px;
    padding: 5px 10px 5px 5px;
}

.our-page-text-div {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    height: 100%;
}

.our-page-text {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    height: fit-content;
}

/********************************
            HEADER RIGHT
********************************/
.log-in-button {
    background-color: white;
    color: black;
    font-weight: bold;
    font-size: 15px;

    border: none;
    border-radius: 15px;
    height: 30px;
    width: 100px;
    cursor: pointer;

    margin-right: 30px;
}

.user-image{
    height: 30px;
    width: 30px;
    padding-left: 5px;
    align-content: center;
}


/* Dropdown */
.dropdown {
    background-color: white;
    position: relative;
    display: inline-block;
    align-content: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding-right: 30px;
}

.centrar-img {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.dropbtn {
    background-color: transparent;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}


/* Dropdown desplegable */
.dropdown-content {
    background-color: white;
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1000;
    width: 100%;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover {
    background-color: lightgray;
}

.log-in-button:hover {
    background-color: lightgray;
}

.log-in-button:active {
    background-color: rgb(174, 173, 173);
}

.our-page-text {
    font-size: 35px;
}