body {
    display: flex;
    background-color: rgb(240, 240, 240);
    overflow: auto;
}

p {
    padding: 0;
    margin: 0;
}

.main {
    background-color: white;
    border: 2px solid darkcyan;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 80%;
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.3);
    padding-bottom: 20px;

    min-width: 575px;
}

.restaurant-name {
    text-decoration: none;
    font-size: 40px;
    font-weight: bold;
    color: darkcyan;

    margin-bottom: 20px;
    margin-top: 40px;
}

.one-dish-short,
.one-dish-long {
    border: 2px solid darkcyan;
    background-color: rgb(240, 240, 240);
    text-decoration: none;
    color: black;

    display: flex;
    flex-direction: row;
    align-items: center;

    width: 80%;
    margin: 20px 0;
    padding: 20px;

    min-width: 500px;
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.3);

    cursor: pointer;
}

.one-dish-long:hover,
.one-dish-short:hover {
    background-color: rgb(200, 200, 200);
}

.one-dish-long {
    display: flex;
    flex-direction: row;
    min-height: 200px;
}

.dish-info {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: justify;

    height: 100%;
    width: 100%;
}

.dish-img {
    height: 160px;
    width: 160px;
    margin: 0 20px;
}

.dish-header {
    display: flex;
    flex-direction: row;

    font-size: 25px;
    font-weight: bold;

    width: 100%;
    margin-bottom: 20px;
}

.dish-name {
    width: 80%;
    text-align: center;
}

.dish-price {
    width: 20%;
    text-align: right;
}

.dish-ingredients {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: inherit;
    padding: 0;
    margin: 0;
}

.dish-ingredients-title {
    text-decoration: underline;
    text-align: left;
    width: 100%;
}

ul{
    text-decoration: none;
    text-align: left;
    margin-left: 35px;
    width: inherit;
}