.main {
    display: grid;
    grid-template-columns: 1fr 5fr;

    height: 100vh;
    width: 100vw;
    margin-top: -8px;
}

.filters {
    height: 100%;
    background: rgb(170, 170, 170);
    min-width: 0;
}

.screen {
    height: 100%;
}