input {
    margin: 0 0 10px 0;
    padding-left: 10px;
    width: 90%;
}

.input-text {
    border-radius: 50px;
    border: none;

    height: 25px;
}

.one-field {
    margin: 0 0;
}

.one-field p {
    margin-bottom: 10px;
}

.field {
    margin-top: 0;
}

.form {
    background-color: darkcyan;
    color: white;
    padding: 0 20px;

    width: 20vw;
    height: 40vh;
    min-width: 200px;
    min-height: 250px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.3);
    border-radius: 40px;
}

.buttons-forms {
    margin-top: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.message {
    align-items: center;
    width: 90%;
    color: red;
    font-weight: bold;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.center-text {
    width: 100%;
    text-align: center;
}

.input-form {
    width: 100%;
    height: 25px;
    border-radius: 100px;
    border: none;
    padding: 0 10px;
}