{% extends "main/layout.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'infouser/forms.css' %}">
{% endblock %}

{% block body %}

    <div class="screen-form">
        <form class="formulario" action="{%  url 'infouser:update_menu' menu %}" method="POST">
            {% csrf_token %}
            {% if mensaje %}
                <div class="alert alert-sucess" role="alert">
                    Data has been change successfully.
                </div>
            {% endif %}

            {{ form.as_p }}

            <div class="button-submit-div">
                <button class="button-submit" type="submit">Accept</button>
            </div>

        </form>
    </div>

{% endblock %}