{% extends 'main/layout.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'infouser/menu.css' %}">
{% endblock %}

{% block body %}
    <div class="folio">
        <p class="dish-name">
            {{ menu}}
        </p>
        {% for ing in ingredients %}
            <div class="info-one-dish">
                <p class="dish-name">
                    {{ ing }}
                </p>

            </div>

        {% empty %}
            <p>
                There is any ingredients in your dish.
            </p>
        {% endfor %}

        <a href="{% url 'infouser:changemenu' menu %}">
            <button class="est-button">
                Change
            </button>
        </a>
    </div>
    <div>
        {% for rat in ratings %}
            <div>
                <p>
                    {{rat.client.user_id}}
                    {{ rat.comment }}
                    {{ rat.rate }}
                </p>

            </div>

        {% empty %}
            <p>
                There is any ratings in your dish.
            </p>
        {% endfor %}

    </div>
{% endblock %}
