{% extends "main/layout.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'infouser/forms.css' %}">
{% endblock %}

{% block body %}
    <div class="screen-form">
        <div class="formulario">
            <h1>Nuevo plato</h1>
            <form action="{%  url 'infouser:newmenu' %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="button-submit-div">
                    <button class="button-submit" type="submit">Añadir</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}