{% extends "main/layout.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'infouser/notifications.css' %}">
    <link rel="stylesheet" href="{% static 'main/restaurant.css' %}">
{% endblock %}

{% block body %}

    <div class="all-notifications">
        <h1>Notifications</h1>
        {% for item in notifications %}
            {% if item.read %}
                <div class="one-dish-short" id="read-notification">
                    <a class="div-notification" href="{% url "infouser:infoNot" item.pk %}">
                        {{ item.title }}
                    </a>
                </div>
            {% else %}
                <div class="one-dish-short unread-notification">
                    <a class="div-notification" href="{% url "infouser:infoNot" item.pk %}">
                        {{ item.title }}
                    </a>
                </div>
            {% endif %}
        {% empty %}
            <p> There is any notification </p>
        {% endfor %}
    </div>

{% endblock %}