{% extends "main/layout.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'infouser/notifications.css' %}">
{% endblock %}

{% block body %}

    <div class="one-notification">
        <h1 class="title">{{ notification.title }}</h1>
        <p> From:  {{ notification.emissor }} </p>
        <p> Date:  {{ notification.date }} </p>
        <p> Description: </p>
        <div class="text-notification">
            {{ notification.description }}
        </div>

        <a href="{% url 'infouser:notifications' notification.pk %}">
            <button class="button-notification button-read">
                Mark as read
            </button>
        </a>
        <a href="{% url 'infouser:delNot' notification.pk %}">
            <button class="button-notification button-delete">
                Delete
            </button>
        </a>

    </div>

{% endblock %}