{% extends "main/layout.html" %}

{% block body %}
    <div class="filters-column">
            <div class="one-filter">
                <a href="{% url 'infouser:newmenu' %}">
                    <button class="new-button">
                    Nuevo Plato
                    </button>
                </a>
            </div>

            <div class="one-filter">
                <a href="{% url 'infouser:changeinfo' %}">
                    <button class="mod-button">
                    Editar Datos
                    </button>
                </a>
            </div>

            <div class="one-filter">
                <a href="{% url 'infouser:restaurant' %}">
                    <button class="est-button">
                    Estadísticas
                    </button>
                </a>
            </div>
        </div>

        <div class="screen">
        {% for dish in dishes %}
            <a class="dish-link" href="{% url 'infouser:menu' dish.name %}">
                     {{ dish.name}}      {{ dish.price }}
            </a>

        {% empty %}
            <p>
                There is any dishes in your restaurant. Create the first!
            </p>
        {% endfor %}
        </div>
{% endblock %}