{% extends "main/layout.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'infouser/restaurant.css' %}">
    <link rel="stylesheet" href="{% static 'main/restaurant.css' %}">
{% endblock %}

{% block body %}
    <div class="buttons-column">
        <div class="one-filter">
            <a href="{% url 'infouser:newmenu' %}">
                <button class="one-side-button">
                New dish
                </button>
            </a>
        </div>

        <div class="one-filter">
            <a href="{% url 'infouser:changeinfo' %}">
                <button class="one-side-button">
                Edit data
                </button>
            </a>
        </div>

        <div class="one-filter">
            <a href="{% url 'infouser:statistics' %}">
                <button class="one-side-button">
                Statistics
                </button>
            </a>
        </div>
    </div>

    <div class="screen">
        <div class="main">
            <p class="restaurant-name">
                {{ restaurant.rest_name }}
            </p>

            {% for dish in dishes %}
                <a class="one-dish-short" href="{% url 'infouser:menu' dish.name %}">
                    {% if dish.vegetarian %}
                        <img class="type-icon" src="{% static 'main/images/vegetarian.png' %}">
                    {% else %}
                        <img class="type-icon" src="{% static 'main/images/no-vegetarian.png' %}">
                    {% endif %}

                    {% if dish.vegan %}
                        <img class="type-icon" src="{% static 'main/images/vegan.png' %}">
                    {% else %}
                        <img class="type-icon" src="{% static 'main/images/no-vegan.png' %}">
                    {% endif %}

                    {% if dish.celiac %}
                        <img class="type-icon" src="{% static 'main/images/gluten.png' %}">
                    {% else %}
                        <img class="type-icon" src="{% static 'main/images/no-gluten.png' %}">
                    {% endif %}

                    {% if dish.nuts_free %}
                        <img class="type-icon" src="{% static 'main/images/nuts-free.png' %}">
                    {% else %}
                        <img class="type-icon" src="{% static 'main/images/no-nuts-free.png' %}">
                    {% endif %}

                    {% if dish.lactose_free %}
                        <img class="type-icon" src="{% static 'main/images/lactose-free.png' %}">
                    {% else %}
                        <img class="type-icon" src="{% static 'main/images/no-lactose-free.png' %}">
                    {% endif %}

                    <p class="dish-name">
                        {{ dish.name }}
                    </p>

                    <p class="dish-price">
                        {{ dish.price }}€
                    </p>
                </a>

            {% empty %}

                <p>
                    There is any dish for this restaurant yet...
                </p>

            {% endfor %}
        </div>
    </div>
{% endblock %}