{% extends "main/layout.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'login/register.css' %}">
{% endblock %}

{% block body %}
    <div class="panel">
        <p class="text">
            Select your user type
        </p>

        <div class="options">
            <a class="one-option" href="{% url 'login:registerRestaurant' %}">
                <img alt="Restaurant" src="{% static 'login/images/restaurant.png' %}">
                <p>
                    RESTAURANT
                </p>
            </a>
            <div class="space"> </div>
            <a class="one-option" href="{% url 'login:registerUser' %}">
                <img alt="Restaurant" src="{% static 'login/images/user.png' %}">
                <p>
                    USER
                </p>
            </a>
        </div>
    </div>
{% endblock %}