{% extends "main/layout.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static "main/main.css" %}">
{% endblock %}

{% block body %}
        <!--Empty divs to center the search bar-->
        <div></div>
        <div></div>
        <div></div>
        <div></div>

        <!--Search bar-->
        <div class="search">
            <div></div>
            <img alt="logo" class="logo-search" src={% static "main/images/logo-color.png" %}>
            <div></div>
            <div class="search-bar-button">
                <input class="input-search" placeholder="Busca tu ciudad y empieza a comer...">
                <div class="vertical-line"></div>
                <button class="search-button">
                    <img alt="search" class="search-button-img" src={% static "main/images/search.svg" %}>
                </button>
            </div>
            <div></div>
        </div>
{% endblock %}