{% extends "main/layout.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'infouser/menu.css' %}">
{% endblock %}

{% block body %}

    <!-- Info of the dish -->
    <div class="screen-ingredients">
        <div class="folio">
            <h1 class="dish-name">
                {{ menu }}
            </h1>

            <div class="dish-ingredients">
                {% for ing in ingredients %}

                <ul>
                    <li>{{ ing }}</li>
                </ul>

                {% empty %}
                    <p>
                        There is any ingredients in this dish.
                    </p>
                {% endfor %}
            </div>

            {% if isRestaurant %}

                <div class="div-enlace">
                    <a href="{% url 'infouser:changemenu' menu %}">
                        <button class="button-change-ingredients">
                            Edit Dish
                        </button>
                    </a>
                    <a href="{% url 'infouser:deletemenu' menu %}">
                        <button>
                            Delete Dish
                        </button>
                    </a>
                </div>

            {% endif %}
        </div>

    </div>


    <!-- Comments of the dish -->
    <div class="comments">
        <div class="all-comments">
            {% for rat in ratings %}
                <div class="one-comment">
                    <div class="first-line-comment">
                        <div class="rate">
                            {{ rat.rate }}
                        </div>
                        <div class="space"></div>
                        <p class="user-comment">
                            {{ rat.client.user_id }}
                        </p>
                        <div>
                            {{ rat.date }}
                        </div>
                    </div>
                    <p class="comment-comment">
                        {{ rat.comment }}
                    </p>
                </div>

            {% empty %}
                <p>
                    There is any ratings in this dish.
                </p>
            {% endfor %}
        </div>

        <!-- Make a comment -->
        {% if form %}
            <div class="make-a-comment">
                <form action="{%  url 'main:menu' rest menu %}" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="button-submit">
                        <button class="button-submit-comment" type="submit">Publish</button>
                    </div>
                </form>
            </div>
        {% endif %}

    </div>
{% endblock %}