{% extends "main/layout.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'infouser/menu.css' %}">
{% endblock %}

{% block body %}

    <!-- Info of the dish -->
    <div class="screen-ingredients">
        <div class="folio">
            <h1 class="dish-name">
                {{ menu }}
            </h1>

            <div class="dish-ingredients">
                {% for ing in ingredients %}

                <ul>
                    <li>{{ ing }}</li>
                </ul>

                {% empty %}
                    <p>
                        There is any ingredients in this dish.
                    </p>
                {% endfor %}
            </div>

            <p>Average Rating: {{ mean_ratings }} </p>

            {% if isRestaurant %}

                <div class="div-enlace">
                    <a href="{% url 'infouser:changemenu' menu %}">
                        <button class="button-menu button-change-ingredients">
                            Edit Dish
                        </button>
                    </a>
                    <a href="{% url 'infouser:deletemenu' menu %}">
                        <button class="button-menu button-delete-ingredients">
                            Delete Dish
                        </button>
                    </a>
                </div>

            {% endif %}
        </div>

    </div>


    <!-- Comments of the dish -->
    <div class="comments">
        <div class="all-comments">
            {% for oneRating in ratings %}
                <div class="one-comment">
                    <div class="first-line-comment">
                        <div class="rate">
                            {{ oneRating.rate }}
                        </div>
                        <div class="space"></div>
                        <p class="user-comment">
                            {{ oneRating.client.username }}
                        </p>
                        <div>
                            {{ oneRating.date }}
                        </div>
                    </div>
                    <p class="comment-comment">
                        {{ oneRating.comment }}
                    </p>
                </div>

            {% empty %}
                <p>
                    There is any ratings in this dish.
                </p>
            {% endfor %}
        </div>

        <!-- Make a comment -->
        {% if i_am_client %}
            <div class="make-a-comment">
                <form action="{%  url 'main:menu' rest menu %}" method="post">
                    {% csrf_token %}
                    <p>Rating:</p>
                    <div class="rating">
                        <input type="radio" id="star5" name="rating" value="5">
                        <label for="star5" class="star">&#9733;</label>
                        <input type="radio" id="star4" name="rating" value="4">
                        <label for="star4" class="star">&#9733;</label>
                        <input type="radio" id="star3" name="rating" value="3">
                        <label for="star3" class="star">&#9733;</label>
                        <input type="radio" id="star2" name="rating" value="2">
                        <label for="star2" class="star">&#9733;</label>
                        <input type="radio" id="star1" name="rating" value="1">
                        <label for="star1" class="star">&#9733;</label>
                    </div>

                    <label>
                        <input type="text" class = "input-form" name="comment" placeholder="Write a comment">
                    </label>

                    <div class="button-submit">
                        <button class="button-submit-comment" type="submit">Publish</button>
                    </div>
                </form>
                {% if err %}
                    <p style="color:red"> All fields are required</p>
                {% endif %}
            </div>
        {% endif %}

    </div>
{% endblock %}