{% extends "main/layout-filters.html" %}
{% load static %}

{% block new-head %}
    <link rel="stylesheet" href="{% static "main/restaurant.css" %}">
{% endblock %}

{% block main %}
    <div class="main">
        <a class="restaurant-name" href="{% url 'main:restaurant-info' restaurant.user_id %}">
            {{ restaurant.rest_name }}
        </a>

        {% for dish in dishes %}
            <div class="one-dish-short">
                <img class="type-icon" src="{% static 'main/images/vegetarian.png' %}">
                <img class="type-icon" src="{% static 'main/images/no-vegetarian.png' %}">
                <img class="type-icon" src="{% static 'main/images/vegan.png' %}">
                <img class="type-icon" src="{% static 'main/images/no-vegan.png' %}">
                <img class="type-icon" src="{% static 'main/images/gluten.png' %}">
                <img class="type-icon" src="{% static 'main/images/no-gluten.png' %}">

                <p class="dish-name">
                    {{ dish.name }}
                </p>

                <p class="dish-price">
                    {{ dish.price }}€
                </p>
            </div>

            <div class="one-dish-long" style="display: none" onclick="toggleContent({{ forloop.counter0 }})">
                <img class="dish-img" alt="dish" src="{{ dish.img }}">

                <div class="dish-info">
                    <div class="dish-header">
                        <p class="dish-name">
                            {{ dish.name }}
                        </p>

                        <p class="dish-price">
                            {{ dish.price }}€
                        </p>
                    </div>

                    <div class="dish-ingredients">
                        <p class="dish-ingredients-title">
                            Ingredientes:
                        </p>
                    </div>
                </div>
            </div>
            <script src="{% static "main/restaurant.js" %}"></script>

        {% empty %}

            <p>
                No hay platos todavía para este restaurante.
            </p>

        {% endfor %}
    </div>
{% endblock %}