{% extends "main/layout-filters.html"  %}
{% load static %}

{% block new-head %}
    <link rel="stylesheet" href="{% static "main/restaurant.css" %}">
{% endblock %}

{% block filters %}
    <script src="{% static 'main/restaurantFilter.js' %}"></script>
<!-- Filters of consumers preferences -->
    <form method="post">
        {% csrf_token %}
         <p class="info-title">
            Food filters
        </p>

        <div class="one-filter">
            <input class="filter-checkbox" type="checkbox" name="celiac">
            <p class="filter-text">Celiac</p>
        </div>

        <div class="one-filter">
            <input class="filter-checkbox" type="checkbox"  name="vegetarian">
            <p class="filter-text">Vegetarian</p>
        </div>

        <div class="one-filter">
            <input class="filter-checkbox" type="checkbox" name="vegan">
            <p class="filter-text">Vegan</p>
        </div>

        <!-- Filters of price -->
        <p class="info-title">
            Prices
        </p>

        <p>0€</p>
        <div class="slider-container">
            <input class="slice" type="range" name="price" value="100">
        </div>
        <p id="final_price">{{ max_price }}</p>

        <input type="submit" value="search">
    </form>

    <script>
        start_rest("{{ celiac }}", "{{ vegetarian }}", "{{ vegan }}", "{{ max_price }}", "{{ price }}")
    </script>

{% endblock %}

{% block main %}
    <div class="main">
        <a class="restaurant-name" href="{% url 'main:restaurant-info' restaurant.user_id %}">
            {{ restaurant.rest_name }}
        </a>

        {% for dish in dishes %}
            <a class="one-dish-short" href="{% url 'main:menu' restaurant.rest_name dish.name%}">
                {% if dish.vegetarian %}
                	<img class="type-icon" src="{% static 'main/images/vegetarian.png' %}">
                {% else %}
                    <img class="type-icon" src="{% static 'main/images/no-vegetarian.png' %}">
                {% endif %}

                {% if dish.vegan %}
                    <img class="type-icon" src="{% static 'main/images/vegan.png' %}">
                {% else %}
                    <img class="type-icon" src="{% static 'main/images/no-vegan.png' %}">
                {% endif %}

                {% if dish.celiac %}
                    <img class="type-icon" src="{% static 'main/images/gluten.png' %}">
                {% else %}
                    <img class="type-icon" src="{% static 'main/images/no-gluten.png' %}">
                {% endif %}

                <p class="dish-name">
                    {{ dish.name }}
                </p>

                <p class="dish-price">
                    {{ dish.price }}€
                </p>
            </a>

        {% empty %}

            <p>
                There is any dishes for this restaurant yet...
            </p>

        {% endfor %}
    </div>
{% endblock %}