{% extends "main/layout.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static "main/search.css" %}">
{% endblock %}

{% block body %}
    <!-- The filters -->
    <div class="filters-column">

        <!-- Filters of consumers preferences -->
        <p class="info-title">
            Filtros alimenticios
        </p>

        <div class="one-filter">
            <input class="filter-checkbox" type="checkbox">
            <p class="filter-text">Celíaco</p>
        </div>

        <div class="one-filter">
            <input class="filter-checkbox" type="checkbox">
            <p class="filter-text">Vegetariano</p>
        </div>

        <div class="one-filter">
            <input class="filter-checkbox" type="checkbox">
            <p class="filter-text">Vegano</p>
        </div>


        <!-- Types of food -->
        <p class="info-title">
            Tipos de comida
        </p>

        <div class="one-filter">
            <input class="filter-checkbox" type="checkbox">
            <p class="filter-text">Italiano</p>
        </div>

        <div class="one-filter">
            <input class="filter-checkbox" type="checkbox">
            <p class="filter-text">Chino</p>
        </div>

        <div class="one-filter">
            <input class="filter-checkbox" type="checkbox">
            <p class="filter-text">Japones</p>
        </div>

        <div class="one-filter">
            <input class="filter-checkbox" type="checkbox">
            <p class="filter-text">Mexicano</p>
        </div>

        <div class="one-filter">
            <input class="filter-checkbox" type="checkbox">
            <p class="filter-text">Asador</p>
        </div>

        <!-- Filters of price -->
        <p class="info-title">
            Precios
        </p>

        <div class="slider-container">
            {% csrf_token %}
            <input class="slice" type="range">
        </div>

    </div>


    <!-- The hole view -->
    <div class="main">
        <!-- The main view -->
        <div class="screen">

            <!-- Restaurants -->
            {% for restaurant in restaurants %}
            <a class="restaurant-link" href="{% url 'main:restaurant' %}">
                <div class="one-restaurant">
                    <img class="restaurant-image" alt="Restaurante" src="{{ restaurant.img }}">

                    <div class="info-one-restaurant">
                        <p class="restaurant-name">
                            {{ restaurant.name }}
                        </p>
                        <p class="restaurant-description">
                            {{ restaurant.description }}
                        </p>
                    </div>

                </div>
            </a>

            {% empty %}
                <p>
                    There is any restaurants in our website. Be the first!
                </p>
            {% endfor %}


        </div>
    </div>

{% endblock %}