{% extends "main/layout-filters.html" %}
{% load static %}

{% block new-head %}
    <link rel="stylesheet" href="{% static "main/search.css" %}">
{% endblock %}

{% block filters %}
    <!-- Filters of consumers preferences -->
    <script src="{% static 'main/prices.js' %}"></script>

    <form method="post">
        {% csrf_token %}
         <p class="info-title">
            Food filters
        </p>

        <div class="one-filter">
            <input class="filter-checkbox" type="checkbox" name="celiac">
            <p class="filter-text">Celiac</p>
        </div>

        <div class="one-filter">
            <input class="filter-checkbox" type="checkbox" name="vegetarian">
            <p class="filter-text">Vegetarian</p>
        </div>

        <div class="one-filter">
            <input class="filter-checkbox" type="checkbox" name="vegan">
            <p class="filter-text">Vegan</p>
        </div>

        <!-- Types of food -->
        <p class="info-title">
            Food types
        </p>

        <div class="one-filter">
            <input class="filter-checkbox2" type="checkbox">
            <p class="filter-text">Italian</p>
        </div>

        <div class="one-filter">
            <input class="filter-checkbox2" type="checkbox">
            <p class="filter-text">Chinese</p>
        </div>

        <div class="one-filter">
            <input class="filter-checkbox2" type="checkbox">
            <p class="filter-text">Japanese</p>
        </div>

        <div class="one-filter">
            <input class="filter-checkbox2" type="checkbox">
            <p class="filter-text">Mexican</p>
        </div>

        <div class="one-filter">
            <input class="filter-checkbox2" type="checkbox">
            <p class="filter-text">Grill</p>
        </div>

        <!-- Filters of price -->
        <p class="info-title">
            Prices
        </p>

        <div class="slider-container">
            {% csrf_token %}
            <p>0€</p>
            <input class="slider" type="range" value="100" name="maxValue">
            <p id="final_price">100€</p>
        </div>

        <script>
            start({{ max }}, "{{ location }}", "{{ cel }}", "{{ veget }}", "{{ vegan }}");
        </script>

        <p class="info-title">
            Location
        </p>
        <input type="text" value="{{ location }}" name="location">

        <!--
        <p class="info-title">
            Distance
        </p>
        <input type="number" value="{{ distance }}" name="distance">
           -->
        <input type="submit">
    </form>



{% endblock %}

{% block main %}
    <!-- Restaurants -->
    {% for restaurant in restaurants %}
        <fomr class="restaurant-link" >
            <img class="restaurant-image" alt="Restaurante" src="{% static 'main/images/restaurant.png' %}">

            <div class="info-one-restaurant">
                <p class="restaurant-name">
                    {{ restaurant.rest_name }}
                </p>
                <p class="restaurant-description">
                    {{ restaurant.description }}
                </p>
            </div>
        </fomr>

    {% empty %}
        <p>
            There is any restaurants in our website. Be the first!
        </p>
    {% endfor %}

{% endblock %}