{% extends "main/layout-filters.html" %}
{% load static %}

{% block new-head %}
    <link rel="stylesheet" href="{% static "main/search.css" %}">
{% endblock %}

{% block main %}
    <!-- Restaurants -->
    {% for restaurant in restaurants %}
        <a class="restaurant-link" href="{% url 'main:restaurant' restaurant.user_id %}" onclick="selectRestaurant('{{ restaurant.rest_name }}')">
            <img class="restaurant-image" alt="Restaurante" src="../../static/main/images/{{ restaurant.img }}">

            <div class="info-one-restaurant">
                <p class="restaurant-name">
                    {{ restaurant.rest_name }}
                </p>
                <p class="restaurant-description">
                    {{ restaurant.description }}
                </p>
            </div>
        </a>

    {% empty %}
        <p>
            There is any restaurants in our website. Be the first!
        </p>
    {% endfor %}

{% endblock %}