{% extends "main/layout.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'infouser/forms.css' %}">
    <link rel="stylesheet" href="{% static 'login/login.css' %}">
{% endblock %}

{% block body %}

    <p>Hola</p>

    <div style="background-color: rebeccapurple">
        <h1>Notifications</h1>
        {% for notification in notifications %}

            {% if notification.read %}
                <div style="background-color: aqua">
                    <p>{{ notification.title }}</p>
                    <p>{{ notification.description }}</p>
                </div>
            {% else %}
                <div style="background-color: fuchsia">>
                    <p>{{ notification.title }}</p>
                    <p>{{ notification.description }}</p>
                </div>
            {% endif %}

        {% empty %}
           <p> No Notifications</p>
        {% endfor %}
    </div>
    <div style="background-color:darkorange">
        <h1> Estadísticas </h1>
        {% for statistic in statistics %}
            <p> {{ statistic.name }}</p>
            <p> {{ statistic.value }}</p>
        {% empty %}
            <p> No hay estadísticas. </p>
        {% endfor %}
    </div>
{% endblock %}