{% extends "main/layout.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'super/adminNotifications.css' %}">
    <link rel="stylesheet" href="{% static 'infouser/menu.css' %}">
{% endblock %}

{% block body %}

    <div class="statistics">
        <h1> Statistics </h1>

        <div class="fila">
            <button class="statistics-button">
                Ingredients
            </button>
            <button class="statistics-button">
                Prices
            </button>
        </div>

        <div class="fila">
            <button class="statistics-button">
                Cities
            </button>
            <button class="statistics-button">
                Types of food
            </button>
        </div>
        <!--
        <div class="choices">
            <p>Select the type of graphics that you want to generate:</p>
            <select name="statistics">
                <option value="prices">Prices</option>
                <option value="types_of_food">Types of food</option>
                <option value="city">City</option>
            </select>
        </div>
        -->

    </div>

    <!--
    <div class="notifications">
        <h1>Notifications</h1>
        {% for notification in notifications %}

            <a href="{% url 'super:index' %}" class="one-comment">
                {% if notification.read %}
                    <div>
                        <p class="notification-title">{{ notification.title }}</p>
                        <p>{{ notification.description }}</p>
                    </div>
                {% else %}
                    <div>
                        <p class="notification-title">{{ notification.title }}</p>
                        <p>{{ notification.description }}</p>
                    </div>
                {% endif %}
            </a>



        {% empty %}
           <p> No Notifications</p>
        {% endfor %}
    </div>
    -->

{% endblock %}