{% extends "main/layout.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'infouser/forms.css' %}">
    <link rel="stylesheet" href="{% static 'super/addIngredients.css' %}">
{% endblock %}

{% block body %}

    <div class="screen-form">
        <div class="formulario">
            <h1>Ingredients</h1>
            <form method="post">
                {% csrf_token %}

                {% for ingredient in ingredients %}

                    <div class="one-ingredient">
                        <label>
                            <input type="checkbox" name="values" class="delete_ing" value="{{ ingredient.pk }}">
                        </label>
                        <p class="ingredient-name">
                            {{ ingredient.name }}
                        </p>
                    </div>

                {% empty %}

                    <p>There are no ingredients.</p>

                {% endfor %}

                <div class="button-submit-div">
                    <a class="button-submit" href="{% url 'super:addIng' %}">
                            Add new Ingredient
                    </a>
                    <input class="button-submit" type="submit" value="Delete" style="display: none" id="submit_ing">
                </div>
            </form>

            <script>
            function changeButton() {
                let items = document.getElementsByClassName("delete_ing")
                let submit = document.getElementById("submit_ing")
                if(Array.prototype.slice.call(items).some((item)=> item.checked)){
                    submit.style.display="block"
                }
                else{
                    submit.style.display="none"
                }
            }

            function createListeners(){
                let items = document.getElementsByClassName("delete_ing")
                for(let i=0; i<items.length; i++){
                    items[i].addEventListener("click",changeButton,false);
                }
            }

            createListeners()
            </script>

        </div>
    </div>

{% endblock %}