{% extends "main/layout.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'super/management.css' %}">
{% endblock %}

{% block body %}
    <div class="folio">
        <h1>Restaurants</h1>
        {% for restaurant in restaurants %}
            <a href="{% url 'super:oneRes' restaurant.pk %}">
                <div class="one-restaurant">
                    {{ restaurant.rest_name }}
                </div>
            </a>
        {% empty %}
            <p>There are no restaurants.</p>
        {% endfor %}
    </div>
{% endblock %}