{% extends "main/layout.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'infouser/forms.css' %}">
{% endblock %}

{% block body %}

    <div class="screen-form">
        <div class="formulario">
            <h1>Restaurants</h1>
            <form method="post">
                {% csrf_token %}
                <p>Title:</p>
                <input class="input-form" type="text" name="title">
                <p>Message:</p>
                <input class="input-form" type="text" name="description">
                <div class="button-submit-div">
                    <input class="button-submit" type="submit">
                </div>
            </form>
        </div>
    </div>

{% endblock %}