{% extends "main/layout.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'infouser/forms.css' %}">
    <link rel="stylesheet" href="{% static 'login/login.css' %}">
{% endblock %}

{% block body %}
    <div>
        <h1>Restaurants</h1>
        <form method="post">
            {% csrf_token %}
            <p>Title</p>
            <input type="text" name="title">
            <p>Description</p>
            <input type="text" name="description">
            <input type="submit">
        </form>
    </div>
{% endblock %}