{% extends "main/layout.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'infouser/forms.css' %}">
    <link rel="stylesheet" href="{% static 'login/login.css' %}">
{% endblock %}

{% block body %}
    <div>
        <h1>Restaurant</h1>
        <p> {{ restaurant.phone_number }}</p>
        <p> {{ restaurant.city }}</p>

        <a href="{% url 'super:deleteRes' restaurant.pk %}"
            onclick="return confirm('Are you sure you want to delete this?')">
            Delete
        </a>

        <a href="{% url 'super:notification' restaurant.pk %}">Notification</a>
    </div>
{% endblock %}